.start h1 {
  color: var(--color-teal-600);
}

.start .json {
  font-size: 10px;
}

.start table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: var(--shadow-sm);
}

.start table tr th {
  font-weight: 500;
  text-align: left;
  background-color: var(--color-teal-600);
  padding: var(--spacing-2);
  color: var(--color-gray-900);
}

.start table tr td {
  text-align: left;
  color: var(--color-teal-400);
  padding: var(--spacing-2);
  background-color: var(--color-gray-700);
}

.start table tr th:last-child {
  text-align: right;
}
.start table tr td:last-child {
  text-align: right;
}

.start table tfoot td {
  font-weight: 700;
  border-top: 1px solid var(--color-teal-600);
}

.start table tr:first-child th:first-child {
  border-top-left-radius: var(--border-radius-sm);
}
.start table tr:first-child th:last-child {
  border-top-right-radius: var(--border-radius-sm);
}
.start table tr:last-child td:first-child {
  border-bottom-left-radius: var(--border-radius-sm);
}
.start table tr:last-child td:last-child {
  border-bottom-right-radius: var(--border-radius-sm);
}
